* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #252525;
}

html {
    height: 100%;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.logo-text {
    font-size: 24px;
}

.logo-wrapper img {
    width: 24px;
    height: 24px;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 56px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

body {
    background-color: #F8F8F8;
}

.add-event-button {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #252525;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
}

.add-event-button i {
    color: white;
    padding-right: 8px;
    font-size: 14px;
}

.wrapper {
    display: flex;
    padding: 24px 56px;
    gap: 32px;
}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    height: 100%;
    position: fixed;
    width: 316px;
    padding: 32px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
}


/* ......... CALENDAR ............................................................. */

.calendar-container {
    background-color: white;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    width: 316px;
    box-shadow: 2px 1px 4px #F1F1F1;
    border-radius: 16px;
}

.calendar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#month {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    text-align: center;
    margin-bottom: 8px;
}

#month>i {
    font-size: 18px;
    cursor: pointer;
}

#month h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#month p {
    font-size: 14px;
}

.weekdays {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.weekdays div {
    font-size: 14px;
    font-weight: 600;
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.days div {
    font-size: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px;
    cursor: pointer;
}

.days div:hover {
    background-color: #F3E2FE;
    border-radius: 4px;
    color: #7209B7;
}

.prev-date,
.next-date {
    color: #9CA3AF;
}

.today {
    background-color: #7209B7;
    color: white;
    border-radius: 4px;
}

/* ......... CATEGORIES ............................................................. */

.categories-container {
    background-color: white;
    box-shadow: 2px 1px 4px #F1F1F1;
    border-radius: 16px;
    padding: 24px 16px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 316px;
}

.categories-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 16px;
}

.categories-container .categories-list {
    max-height: 200px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.categories-list {
    display: flex;
    height: 100%;
    margin-bottom: 8px;
    flex-direction: column;
    overflow: hidden;
}

.categories-list li {
    list-style: none;
    height: 32px;
    line-height: 32px;
    position: relative;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    gap: 8px;
    cursor: default;
}

li span {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

li .delete-category-icon {
    color: white;
    position: absolute;
    right: -32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    cursor: pointer;
    transition: all 0.3s ease;
}

li .delete-category-icon i {
    color: white;
    font-size: 14px;
}

li:hover .delete-category-icon {
    right: 0px;
}

.category-color-new {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

input[type=text] {
    box-sizing: border-box;
    padding: 8px 8px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    width: 235px;
    margin-top: 16px;
    margin-right: 4px;
}

#submitAddCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 24px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    padding: 8px 8px;
    width: 30px;
    height: 30px;
}

#submitAddCategory.active {
    opacity: 1;
    pointer-events: auto;
}

input[type=color] {
    width: 24px;
    height: 24px;
    border: 1px solid #D1D5DB;
    background-color: white;
    border-radius: 4px;
    margin-left: 8px;
}

#app #timeline {
    width: calc(100% - 380px);
    position: relative;
    left: 380px;
    margin-top: 40px;
   
}

.content-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}

.hours-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 160px;
    padding: 8px 8px;
    width: 54px;
}

.hours-container div {
    color: #4d4d4d;
    font-size: 12px;
    display: inline-block;
}

.hours-lines-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.solid-line hr {
    border: none;
    height: 1px;
    background-color: #cdcdcd;
}

.half-hours-lines-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 76px;
    padding-bottom: 76px;
    height: 100%;
    position: absolute;
    left: 52px;
    right: 0px;
}

.dashed-line hr {
    border: none;
    border-top: 1px dashed #cdcdcd;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.dashed-line:last-child {
    display: none;
}

.event-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 1px 4px #F1F1F1;
    height: 179px;
    position: absolute;
    left: 52px;
    display: flex;
    flex-direction: row;
    width: 93%;
}

.category-color-on-event-card {
    background-color: #7209B7;
    width: 40px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.edit-button {
    background-color: transparent;
    border: none;
    color: #4d4d4d;
    font-size: 16px;
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #4d4d4d;
    font-size: 16px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.modalContainer {
    background-color: white;
    width: 480px;
    height: 580px;
    padding: 32px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#eventTitleInputGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.modal-header #closeBtn {
    width: 32px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #727171;
    cursor: pointer;
}

.submit-btn {
    background-color: #252525;
    border: 0px;
    cursor: pointer;
    padding: 14px 16px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    width: 100%;
}

.add-event-button-modal i {
    color: white;
    margin-right: 4px;
}

#categoriesDropdown {
    border: 1px solid #D1D5DB;
    width: 100%;
    padding: 8px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.c-select select {
    appearance: none;
}

.c-select {
    position: relative
}

.c-select::after {
    position: absolute;
    top: 0;
    right: 8px;
    content: "\2304";
}



.modal-content form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modalContainer input {
    

}

.modalContainer textarea {
    width: 100%;
    height: 48px;
    padding: 8px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;

}

#eventDescriptionInputGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#categoriesDropdownGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



#startTimeGroup {
  width: 48%; 
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group input,
.form-group textarea,
.form-group select  {
    border: 1px solid #D1D5DB;
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    width: 100%;
}

#endTimeGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 48%; 
 }
 

.time-modal-container i {
    margin-top: 24px;
    color: #727171;
}


.form-group {
    width: 100%;
    margin-bottom: 8px;
}

.form-group label {
    font-size: 14px;
    color: #4d4d4d;
}

#eventDate {
    padding: 8px 8px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    width: 100%x;
}

#eventDateGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#submitAddEvent {
  margin-top: 24px;
}

#categoryForm {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
#categoryForm .form-group {
    width: 85%;
}

.event-content {
    padding: 8px 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.event-card-actions {
    display: flex;
    gap: 16px
}

.event-card-actions button i {
    margin-right: 4px;
}

.event-card-actions .delete-button i {
    color: #ff0033;
}

.event-card-actions .edit-button i {
    color: #0085FF;
} 